@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}